.topCard {
  width: 75vw;
  background: #f2f7f8;
  margin-top: 10px;
  margin-left: 15px;
  height: 15vh;
  box-shadow: none;
  display: flex;

  justify-content: center;
}

.line {
  height: 70%;
  width: 2%;
}

.main-div {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 12vw;
}

.headingDiv {
  display: flex;
  height: 5vh;
  align-items: center;
}

.valueDiv {
  display: flex;
  height: 5vh;
}

.cardInside {
  display: flex;
  justify-content: space-evenly;
}

.portTableDiv {
  background: #f2f7f8;
  margin-top: 10px;
  /* margin-left: 15px; */
  box-shadow: none;
  display: flex;
  height: 50vh;
  width: 17vw;
  /* justify-content: center; */
}

.generalInfoDiv {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 35px;
}

.generalInfoItems {
  background: #f2f7f8;
  height: 6vw;
  display: flex;
  justify-content: center;
  width: 11vw;
}

.generalInfoCard {
  width: 15vw;
  background: #f2f7f8;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 73%;
  margin-top: 35px;
  gap: 10px;
}

.generalInfo {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.headingFontColor {
  position: sticky !important;
  color: #003C51;
  background-color: #f2f7f8 !important;
  border-bottom: none !important;
  box-shadow: inset 0 -1px 0 #000000;
}


.cpuMemoryChartDiv {
  height: 100%;
  background: #F2F7F8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 99%;
  border-radius: 10px;
}

.valueText {
  width: 100px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: -4px;
}

.valueFontSize {
  font-size: 22px;
}


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cpuGraphSkelton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
  margin-left: 20px;
}